/* Importa a fonte usada no design */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Garante o fundo branco*/
  background-color: #FFFFFF;
  /* Define a fonte principal pro projeto*/
  font-family: 'Montserrat', sans-serif;
}